@font-face{
    font-family: "Helvetica Neue";
    src:local(helvetica Neue);
}
@font-face{
    font-family: "Alegreya Sans";
    src: local(Alegreya Sans);
}

@font-face{
    font-family: "NixinOne";
    src:url(../fonts/Nixie_One/NixieOne-Regular.ttf);
}

@font-face{
    font-family: "Alegreya SC";
    src: local(Alegreya SC);
}

:root {
    --color: #3A4F52;
    --txt-blu: #4DA7CA;
    --back-color: #6A6A6A;
    --txt-trans: rgba(255, 255, 255, 0.50);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px dashed rgb(21, 255, 0); */
}

img {
    max-width: 100%;
}

html {
    font-size: 1rem;
    font-size: 62.5%;
}
h1 {
    font-family: "NixinOne";
    font-size: 5.6rem;
    font-weight: lighter;
    text-shadow: 0.3rem 0.3rem 0.5rem rgb(50, 49, 49);
}
h2 {
    font-family: "Alegreya SC";
    font-size: 3.6rem;
    font-weight: lighter;
}
h3 {
    font-family: "Alegreya Sans";
    font-weight:normal;
    font-size: 3.6rem;
}


nav h2:hover {
    text-decoration: underline;
    cursor: pointer;
}

nav svg:hover {
    cursor: pointer;    
}

a {
    font-family: "Helvetica Neue";
    font-size: 1.8rem;

    text-decoration:none;    
    padding: 1.1rem 1.7rem;

    border: 1px solid #3A4F52;
}

p {
    font-family: "Helvetica Neue";
    font-size: 1.4rem;
}

.headline p {
    font-family: "Alegreya SC";
    font-size: 2.24rem;
    color: rgba(255, 255, 255, 0.736);
    text-shadow: 0.2rem 0.2rem 0.3rem rgb(50, 49, 49);
}

header {
    display: flex;
    background-image: url(../IMG/pic_header.png);
    background-position: center;
    background-size:cover;
    height: 55vw;

    justify-content:center;
    align-items: center;
    flex-direction: column;
    color: white;
}


nav {
    display: flex;
    width: 100%;
    max-height: 8rem;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 3rem;
    background-color: rgba(0, 0, 0, 0.22);
    margin-bottom: -8rem;
}
nav svg {
    fill: white;
}


.headline {
    width: 100%;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
} 


.works {
    height: auto;
    padding: 6rem 13.5rem;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    justify-content: space-between;
    align-content: space-between;
    gap: 6rem;
}
.galle img {
    max-width: 100%;
    transition: transform 0.5s ease, opacity 0.5s ease;
    aspect-ratio:8/5;
    object-fit: cover;

}

.galle {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    padding: 0 1.5rem;
}

.work {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.mitte {
    transition: opacity 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.mitte p {
    color: white;
    font-size: 1.6rem;
    padding: 1.6rem 3.2rem;
    border: 1px solid white;
    margin: 0;
}


.work:hover img {
    transform: scale(1.5);
    opacity: 0.7;
    filter: grayscale(70%) sepia(100%) saturate(300%) hue-rotate(100deg) brightness(40%);
}

.work:hover .mitte {
    opacity: 1;
}

.btn-light:hover {
    color: #6A6A6A;
    background-color: white;
    border: 1px solid var(--back-color);
    text-align: center;

    cursor: pointer;
    font-size: 1.6rem;
    padding: 1.6rem 3.2rem;
}

.service {
    display: flex;
    background-image: url(../IMG/pic_service.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    justify-content: center;
    align-items: center;

    text-align: center;

    flex-direction: column;
    gap: 6rem;
    padding: 8rem 13.5rem;

    color: white;
}



.box-down {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap:1.5rem

}
.icon-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1.5rem;
    width: 32%;
    min-width: 24rem;
    flex-wrap: wrap;

    padding: 0 1.5rem;

}
.icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 0px;
}
.icon svg {
    width: 6rem;
    height: 6rem;
}
.icon-font {
    font-size: 3rem;
}

.blog {
    height: auto;
    padding: 6rem 13.5rem;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-content: space-between;
    gap: 6rem;

}
.sect-head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: var(--color);
    padding: 0 1.5rem;
}

.sect-head a {
    color: var(--color);
}

.sect-head a:hover {
    color: white;
    background-color: var(--color);
}

.sect-head div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.56rem;
}

.boxes {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.pic-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    width: auto;
    min-width: 15vw;

    padding: 0 1.5rem;
    color: var(--color);
}
.pic-box a {
    color: var(--txt-blu);
    border: none;
    padding: 0;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
.pic-box a:hover {
    text-decoration: underline;
}


.pic-box img {
    width:100%;
    aspect-ratio: 8/5; 
    object-fit: cover;
}

.get {
    display: flex;
    width: auto;
    height: auto;
    background-image: url(../IMG/div-contact.jpg);
    background-position: center;
    background-size:cover;;
    padding: 8rem 13.5rem;
    background-attachment: fixed;
}
.m-box {
    display: flex;
    color: white;

    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 2rem 1.5rem;
    gap: 6rem;
    height: auto;
    background: rgba(0, 0, 0, 0.284);
    text-align: center;
}

.m-box a {
    border: 1px solid white;
    color: white;
}
.m-box a:hover {
    color: #3a4f52a7;
    mix-blend-mode: hard-light;
    background-color: #FFF;
    mix-blend-mode: hard-light;
}

.testi {
    height: auto;
    width: 100%;
    padding: 6rem 13.5rem;
    color: var(--color);
}

.inbox-w {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 6rem;
    padding: 0 1.5rem;
}
.testi-div {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 0px;
}
.pers-txt {
    display: flex;
    width: 31%;
    min-width: 24rem;

    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding: 0;
}
.pers-txt b {
    font-family: "Helvetica";
}
.testi img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    object-fit: cover;
}

.head-subh-m {
    display: flex;
    flex-direction: column; 
    gap: 1.56rem;  
}

.contact {
    display: flex;
    background-image: url(../IMG/pic_contact.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    justify-content: center;
    align-items: center;

    height: auto;
    background-color: var(--back-color);
    text-align: center;

    flex-direction: column;
    gap: 1.5rem;
    padding: 6rem 13.5rem;
    color: white;
}
.inbox-b {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 2rem 1.5rem 2rem 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;

    background: rgba(0, 0, 0, 0.284);
}
.inbox-b form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 60%;
}
input {
    display: flex;
    width: 100%;
    height: 4rem;
    font-family: "Helvetica Neue";
    font-size: 1.4rem;
    padding: 1.3rem 0.9rem;

    color: white;

    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #CCC;
    border-radius: 0.4rem;

    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.08) inset;
}


textarea {
    width: 100%;
    height: 8rem;
    font-family: "Helvetica Neue";
    font-size: 1.4rem;
    padding: 1.3rem 0.9rem;

    color: white;

    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #CCC;
    border-radius: 0.4rem;

    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.08) inset;
}

input::placeholder,
textarea::placeholder {
    color: white;
}

.subm {
    width: 20%;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.08) inset;
    color: white;
    cursor: pointer;
}

footer {
    background-color: #2B3E51;
    display: flex;
    width: 100%;
    height: 8.75rem;
    padding: 0 0 0 15rem ;
    align-items: center;
    color: white;
}
/* Pad: max-width 800px */
@media screen and (max-width: 800px) {
    header {
        height: 45vw;
    }

    .works {
        padding: 4rem 1rem;
    }
    .galle {
        gap: 2rem;
    }
    .mitte p {
        font-size: 1.2rem;
        padding: 1rem;
    }

    .btn-light:hover {
        font-size: 1.2rem;
        padding: 1rem;
    }
    


    .service {
        padding: 8rem 1rem;
    }

    .icon-box {
        width: 100%;
    }

    .sect-head {
        flex-direction: row;
        align-items: flex-start;
    }

    .boxes {
        flex-direction: column;
        align-items: center;
    }

    .blog {
        padding:  4rem 1rem;
    }

    .get {
        padding: 8rem 1rem;
        background-attachment:unset;
    }

    .testi {
        padding:  4rem 1rem;
    }
    .testi-div {
        flex-direction: column;
        align-items: center;
    }

    .pers-txt {
        width: 90%;
    }

    .contact {
        padding: 8rem 0;
    }

    .inbox-b form {
        width: 80%;
    }
    footer {
        display: flex;
        height: auto;
        padding: 2.6rem 58.5rem 9.8rem 2.4rem;
        align-items: center;
        color: white;
    }
}

/* Phone: max-width 375px */
@media screen and (max-width: 375px) {
    header {
        display: flex;
        background-size:cover;
        height:150vw;
    }
    h1 {
        font-family: "NixinOne";
        font-size: 3.92rem;
    }
    .headline p {
        font-size: 1.68rem;
    }
    
    .works {
        padding: 2rem 0.5rem;
    }
    .galle {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 2rem;
    }
    a {
        padding: 0.5rem;
    font-size: 1.4rem;    }

    .sect-head {
        flex-direction: row;;
        align-items: center;
        padding: 0;
    }

    .blog {
        padding:  2rem 0.5rem;
    }

    .boxes {
        display: block;
    }
    .pic-box {
        padding: 0;
    }

    .get {
        padding: 8rem 0;
    }

    .testi {
        padding:  4rem 1rem;
    }

    .contact {
        padding: 6rem 0;
        background-attachment: unset;  
    }

    .inbox-b form {
        width: 95%;
    }
    .subm {
        width: 30%;
    }
    footer {
        display: flex;
        height: auto;
        padding: 2.6rem 20rem 9.8rem 2.4rem;
        align-items: center;
        color: white;
    }




}